{% extends "base.html" %}
{% block content %}

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">
      <span class="fa fa-fw fa-cubes"></span>{{ category.name }}
    </h3>
  </div>
  <div class="table-responsive">
    <table class="table table-striped">
      {% for package in packages -%}
      <tr>
        <td class="text-nowrap"><a href="/package/{{package.category.name}}/{{ package.name }}">{{ package.name }}</a></td>
        <td>&nbsp;</td>
      </tr>
      {%- endfor %}
    </table>
  </div>
</div>

{% endblock %}
