{% extends "base.html" %}
{% block content %}

<form method="POST" action=".">
  {{ form.hidden_tag() }}

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">
      <span class="fa fa-fw fa-users"></span>Known projects
    </h3>
  </div>
  <div class="table-responsive">
    <table class="table table-striped">
      {% for item in form.maintainers if mapping[item.data].is_project -%}
      {%- set maintainer = mapping[item.data] -%}
      <tr>
        <td>{{ item }}</td>
        <td class="text-nowrap">{{ maintainer.email }}</td>
        <td>{{ maintainer.name }}</td>
      </tr>
      {%- endfor %}
    </table>
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">
      <span class="fa fa-fw fa-user"></span>Known developers
    </h3>
  </div>
  <div class="table-responsive">
    <table class="table table-striped">
      {% for item in form.maintainers if not mapping[item.data].is_project -%}
      {%- set maintainer = mapping[item.data] -%}
      <tr>
        <td>{{ item }}</td>
        <td class="text-nowrap">{{ maintainer.email }}</td>
        <td>{{ maintainer.name }}</td>
      </tr>
      {%- endfor %}
    </table>
  </div>
</div>

<input type="submit" value="Save follows"/>

</form>

{% endblock %}
